@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-width: 100vh;
    background-color: black;
    font-family: sans-serif;
    
}

header{
    height: 60px;
    width: 100%;
    background-color:rgba(31, 6, 222, 0.219);
    color: white;
    display: flex;
    align-items: center;

}
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}

.nav-list{
    display: none;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    margin-left: 20px;
    font-weight: 550;
}
.container h1{
    
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(17, 6, 111, 0.19);
}

.hero{
    width: 100%;
    height: 300px;
    background-image: url(background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.searchBox{
    max-width: 600px;
    /* background: red; */
    margin: 15px auto;
    align-items: center;
    justify-content: center;
}

.searchBox input{
    padding: 12px;
    width: 70%;
    border-radius: 5px 5px 5px 5px;
    outline: 0;
    border: 1px solid rgb(228, 71, 71);
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.searchBox button{
    padding: 12px 20px;
    background: rgb(240,72,72);
    border: 0;
    outline:none;
    border: 1px solid red(221,60,60);
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

}

.notFound{
    text-align: center;
    margin-top: 50px;
    margin-top: 70px;
    min-height: 150px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 30px;
}

.recipe-card{
    width:200px;
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;

}

.recipe-card img{
    width:100%;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe-card button{
    padding: 4px 10px;
    background-color: rgb(91, 167, 91);
    color: #fff;
    border-radius: 5px;
    border: 0;
    margin: 10px 0;
}

.popup-card{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 9px;
    width: 300px;
    z-index: 10;
    border:2px solid red;
    display: none;
}
.popup-card h3{
    margin: 12px 0;
    color: maroon;
    font-size: 24px;
}
.popup-card p{
    margin: 12px 0;
    color: #333;
    font-size: 20px;
    overflow-y: auto;
    max-height: 270px;
    padding-right: 10px;
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(240,72,72);
    padding: 5px;
    border: red;
    border-radius: 5px;
    color: #fff;

}
.menu-icon{
    font-size: 23px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}
footer{
    /* height: 100%; */
    background-color:rgb(31, 6, 222, 0.219) ;
    font-family:'Poppins',sans-serif ;
}

.footer-content{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
}
.footer-content h3{
    color: white;
    font-size: 2rem;
}

.footer-content p{
    max-width: 700px;
    color: #fff;
    opacity: 0.7;
    margin: 10px 0;
    cursor: pointer;
}
.footer-content p:hover{
 opacity: 1;
}

.footer-content .socialIcons a{
text-decoration: none;
}

.footer-content .socialIcons a i{
    color: #fff;
    margin: 10px;
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 7px;
    border-radius: 50%;

}

.footer-bottom{
    background-color: rgba(3, 3, 78, 0.915);

}

.footer-bottom p{
    color: white;
    text-align: center;
    padding: 15px 0;

}

.designer{
    opacity: 0.7;
    font-size: 400;
    text-transform: uppercase;
}
  @media only screen and (min-width:700px) {
    .menu-icon{
        display: none;
    }
    
    .nav-list{
        display: block;        
    }
 } 

 /* ..............Media query............... */
 @media only screen and (max-width:700px) {
    .logo h1{
        font-size: 18px;
    }
    
    .hero h2{
        font-size: 28px;
    }
    .hero p{
        font-size: 15px;
    }
    
        

 } 